@import './base.css';

:root {
  --bg-primary: #0f172a;
}

body {
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

